*{
	font-family: SimSun;
}
/*字体安装*/
@font-face {
	font-family: gabriola;
	src: url('../css/gabriola.ttf'); /*这里是字体文件路径*/
}
body{
	padding: 0;
	margin: 0;
}
/*qqFace*/
.comment{width:680px; position:relative; background:#fff; padding:20px 50px 50px; /*border:1px solid #DDD;*/ border-radius:5px;}
.comment h3{height:28px; line-height:28px}
.com_form{width:100%; position:relative}
.input{width:99%; height:60px; border:1px solid #ccc}
.com_form p{height:28px; line-height:28px; position:relative; margin-top:10px;}
span.emotion{width:42px; height:20px; background:url(http://www.16code.com/cache/demos/user-say/img/icon.gif) no-repeat 2px 2px; padding-left:20px; cursor:pointer}
span.emotion:hover{background-position:2px -28px}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
#show{
	 width:686px; 
	 margin:20px auto;
	 background:#fff; 
	 padding:5px; 
	 border:1px solid #fff; 
	 vertical-align:top;
	}

.sub_btn {
	position:absolute; right:0px; top:0;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #e8f0de;
	border: solid 1px #538312;
	background: ;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.sub_btn:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
/*中间主要部分*/
#main{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #f1f1f1;
	margin-top: -8px;
}
#main .mainContent{
	position: relative;
	top: 25px;
	width: 1224px;
	height: auto;
	margin: 0 auto;
}
/*中间左部*/
.mainContent .left{
	display: inline-block;
	/*width: 755px;*/
	width: 70%;
	height: auto;
	/*min-height: 1138px;*/
	border-bottom: 2px solid #c3cbd0;
	background-color: #fff;
}
.left .publish{
	width: 90%;
	margin: 0 auto;
}
.left .publish p{
	font-family: example;
}
.left .publish .pubInp{
	width: 76%;
}
.left .publish .pubBtn{
	width: 23%;
	border: 1px solid #bda7ab;
	background-color: #fff;
	height: 21px;
}
.left .loveAd{
	width: 772px;
	height: 357px;
	margin: 0 auto;
	margin-top: 18px;
}
.left .loveAd .adContent{
	display: inline-block;
	width: 165px;
	margin-left:20px;
}
.left .loveAd .adContent a {
	width:165px;
}
.left .adContent .adImg{
	position: relative;
	width: 165px;
	height: 240px;
	z-index: 1;
}
.left .adContent .adFlower{
	position: relative;
	top: -16px;
	left: 64px;
	z-index: 0;
}
.left .adContent strong{
	display: inline-block;
	width: 150px;
	text-align: center;
	position: relative;
	left: 0px;
	height: 30px;
	line-height: 30px;
	top: -24px;
}
.left .adContent p{
	margin: -24px 0 0 0;
	font-size: 12px;

}
.pageNumber{
	width: 100px;
	height: 25px;
	margin: 20px 46% 46% 20px;
	border: 2px solid #ded3d5;
	font-size: 16px;
	font-weight: bold;
}
.left .myTrend{
	width: 771px;
	margin: 0 auto;
}
.left .myTrend .trendLeft{
	width: 362px;
	height: 165px;
	display: inline-block;
	margin-left: 16px;
}
.left .myTrend .trendRight{
	float: left;
	width: 48%;
	height: 165px;
	margin-left: 27px;
}
.myTrend .trendContent{
	height: 183px;
	background-color: #f1f1f1;
	border-radius: 6px;
}
.myTrend .trendP{
	float: left;
	width: 55%;
	height: 108px;
	margin: 10px 0 10px 10px;
}
.myTrend .trendImg{
	float: left;
	width: 35%;
	height: 108px;
	margin: 10px;
}
.myTrend .from{
	float: right;
	margin-top: -26px;
    margin-right: 8px;
	font-size: 14px;
}
.left .myPic{
	width: 90%;
	margin: 0 auto;
}
.myPic .picList{
	display: inline-block;
	width: 165px;
	height: 240px;
	margin-left: 45px;
}
/*中间右部*/
.mainContent .right{
	width:28%;
	height:890px;
	padding-left: 7px;
	background-color: #fff;
	border-top: 4px solid #835961;
	border-bottom: 4px solid #835961;
	float: right;
}
.right .rightTop{
	width: 100%;
	margin-bottom: 30px;
}
.right h4{
	margin-top: 10px;
    margin-left: 10px;
}
.rightPic{
	display: block;
	width: 245px;
	/*height: 75px;*/
	margin: 10px auto 0 auto;
}
.rightPic img{
	display: inline-block;
	width: 145px;
	height: 154px;
    margin-left: 30px;
	z-index: 0;
	position: relative;
	bottom: 19px;
	border-radius: 75px;
}
.rightTop p{
	font-size: 14px;
}
.right .rightMiddle{
	width: 100%;
	margin-bottom: 30px;
}
.recommend .rePic{
	float: left;
	display: inline-block;
	width: 75px;
	height: 70px;
}
.reContent h5{
	margin: 0;
}
.recommend .reContent{
	float: left;
	width: 80%;
}
.reContent p{
	margin: 0;
	font-size: 14px;
}
.headBottom .searchbtn {
    margin-top: -10px;
}
.emotion{
	/*position:absolute; right:0px; top:0;*/
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.input{
	resize: none;
	margin-bottom: 5px;
	height: 87px;
}
.rightTop p {
	width: 300px;
	margin: 0 auto;
}
.reContent {
	width: 300px;
	margin-left: 20px;
}

.writeSome {
	position: relative;
	top: 9px;
	left: 6px;
}
.paging {
	width: 72%;
	margin: 32px auto;
}
.paging .pageName{
	width: 100px;
	height: 30px;
	border: none;
	background-color: #d1d2c1;
	color: #868953;
	font-weight: bold;
}
.paging .pageNum{
	width: 30px;
	height: 30px;
	background-color: #d1d2c1;
	color: #868953;
	border: none;
	font-weight: bold;
}
.rightBottom img {
	float: left;
	height: 195px;
}
.recommend img {
	float: left;
	height: 105px;
}
.bottomRight{
	height: 106px;
	margin-bottom: 20px;
	margin-top: 6px;
	/*margin-left: 25px;*/
	line-height: 20px;
}
.recommend .bottomRight {
	width: 83%;
	/*margin: 0 auto;*/
	margin-bottom: 26px;
	font-size: 13px;
}
.recommend .bottomRight a {
	margin-left: 5px;
	position: relative;
	top: 3px;
}
.container_image {
	margin-top: 4px;
}
.liulanliang{
	position: relative;
	bottom: 336px;
	left: 12px;
	background-color: #C6C6C6;
	opacity: 0.7;
	width: 89px;
	line-height: 25px;
	border-radius: 3px;
	word-break: break-all;
	word-wrap: break-word;
}
.rightTop a  {
	position: relative;
	left: 96px;
	bottom: 28px;
	font-size: 13px;
}
#w {
	color: #005580;
}
#w textarea {
	resize: none;
}

#w #changehead {
	height: 175px;
	width: 108px;
}
#w #uploadfile {
	margin-top: 145px;
	margin-left: 10px;
}
.easyui-linkbutton {
	position:relative;
	left: 20px;
}
#pic {
	position: relative;
	left: 8px;
	top: 52px;
}

